:root {
  --dark-color: hsl(250, 100%, 9%);
  --light-color: hsl(250, 95%, 98%);
  --base: hsl(250, 95%, 50%);
  --complimentary1: hsl(280, 95%, 50%);
  --complimentary2: hsl(310, 95%, 50%);

  --font-family: "Poppins", system-ui;

  --bg-gradient: linear-gradient(
    to bottom,
    hsl(250, 95%, 99%),
    hsl(250, 95%, 84%)
  );

  /*for Bongo cat*/
  --bg: #434546;
  --green: #a5ea9b;
  --pink: #ff61d8;
  --blue: #569cfa;
  --orange: #ffcc81;
  --cyan: #7ed1e2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  max-width: 1920px;
  min-height: 100vh;
  display: grid;
  place-items: center;
  padding: 2rem;
  font-family: var(--font-family);
  /* pic
  background-image:url('https://pic.imgdb.cn/item/61028f6e5132923bf82d9276.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  */
  background: linear-gradient(-45deg, #feac5e, #c779d0, #4bc0c8);
	background-size: 400% 400%;
	-webkit-animation: gradient 15s ease infinite;
	        animation: gradient 15s ease infinite;
}


/* Hyperlink */

a#textColorStyle:link {color:#000000; cursor: ne-resize;}    /* 未被访问的链接 */
a#textColorStyle:visited {color:#000000;cursor: ne-resize;} /* 已被访问的链接 */
a#textColorStyle:hover {color:#424242;cursor: ne-resize;}   /* 鼠标指针移动到链接上 */
a#textColorStyle:active {color:#424242;cursor: ne-resize;}  /* 正在被点击的链接 */

a#style1{    /* 超链接正常显色 */
	text-decoration: underline;
  color:#000000;
  cursor: ne-resize;
  -moz-transition:color 150ms linear;-webkit-transition:color 150ms linear;-o-transition:color 150ms linear;transition:color 150ms linear;
}
a#style1:hover{/* 超链接在鼠标移入时明度降低 */
	color:#444444;
  cursor: ne-resize;
}

a#style2{    /* 超链接正常显色 */
	text-decoration: underline;
  color:#000000;
  cursor: pointer;
  -moz-transition:color 150ms linear;-webkit-transition:color 150ms linear;-o-transition:color 150ms linear;transition:color 150ms linear;
}
a#style2:hover{/* 超链接在鼠标移入时明度降低 */
	color:#444444;
  cursor: pointer;
}

a#style3{    /* 超链接正常显色 */
	text-decoration: underline;
  color:#000000;
  cursor: ne-resize;
  -moz-transition:color 150ms linear;-webkit-transition:color 150ms linear;-o-transition:color 150ms linear;transition:color 150ms linear;
}
a#style3:hover{/* 超链接在鼠标移入时明度降低 */
	color:#444444;
  cursor: ne-resize;
  text-decoration:underline;
}
/* gradient */

@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
/*fade in*/

@keyframes fade-in {  
  0% {opacity: 0;}/*初始状态 透明度为0*/  
  40% {opacity: 0;}/*过渡状态 透明度为0*/  
  100% {opacity: 1;}/*结束状态 透明度为1*/  
}  
@-webkit-keyframes fade-in {/*针对webkit内核*/  
  0% {opacity: 0;}  
  40% {opacity: 0;}  
  100% {opacity: 1;}  
}  


.overlay{    
  animation: fade-in;/*动画名称*/  
  animation-duration: 1.5s;/*动画持续时间*/  
  -webkit-animation:fade-in 1.5s;/*针对webkit内核*/  
}  

  /*for Bongo cat*/

  .container {
    width: 80vw;
    height: 80vh;
  }
  .container svg {
    height: 100%;
    width: 100%;
    overflow: visible;
  }

  #bongo-cat {
    fill: var(--bg);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 4;
  }
  #bongo-cat .laptop-cover,
  #bongo-cat .headphone .band {
    fill: none;
  }
  #bongo-cat .paw, #bongo-cat .head {
    stroke: var(--orange);
  }
  #bongo-cat .laptop-keyboard {
    stroke-width: 2;
  }
  #bongo-cat .terminal-code {
    stroke-width: 5;
  }
  #bongo-cat .music .note,
  #bongo-cat .laptop-base,
  #bongo-cat .laptop-cover,
  #bongo-cat .paw .pads {
    stroke: var(--pink);
  }
  #bongo-cat .table line,
  #bongo-cat .headphone .band,
  #bongo-cat .headphone .speaker path:nth-child(3) {
    stroke: var(--green);
  }
  #bongo-cat .terminal-frame,
  #bongo-cat .laptop-keyboard,
  #bongo-cat .headphone .speaker path:nth-child(2) {
    stroke: var(--blue);
  }
  #bongo-cat .terminal-code,
  #bongo-cat .headphone .speaker path:first-child {
    stroke: var(--cyan);
  }
  /*for Bongo cat*/


.orb-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}

strong {
  font-weight: 600;
}

.overlay {
  width: 100%;
  max-width: 1140px;
  max-height: 640px;
  padding: 8rem 6rem;
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.375);
  box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
  border-radius: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.overlay__inner {
  max-width: 36rem;
}

.overlay__title {
  font-size: 2rem;
  line-height: 2.75rem;
  font-weight: 700;
  letter-spacing: -0.025em;
  margin-bottom: 1rem;
}

.text-gradient {
  /*
  background-image: linear-gradient(
    45deg,
    var(--base) 25%,
    var(--complimentary2)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  */
  /*background-image: linear-gradient(-45deg, #aa4b6b, #6b6b83, #3b8d99);*/
  background-image: linear-gradient(-45deg, #3b8d99 ,#6b6b83, #aa4b6b);
	background-size: 400% 400%;
  -webkit-animation: gradient 15s ease infinite;
  animation: gradient 15s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.overlay__description {
  font-size: 1.2rem;
  line-height: 1.75rem;
  margin-bottom: 1rem;
}

.overlay__btns {
  width: 100%;
  max-width: 30rem;
  display: flex;
}

.overlay__btn {
  width: 50%;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.875rem;
  font-weight: 600;
  color: var(--light-color);
  background: var(--dark-color);
  border: none;
  border-radius: 0.5rem;
  transition: transform 150ms ease;
  outline-color: hsl(var(--hue), 95%, 50%);
}

.overlay__btn:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.overlay__btn--transparent {
  background: transparent;
  color: var(--dark-color);
  border: 2px solid var(--dark-color);
  border-width: 2px;
  margin-right: 0.75rem;
}

.overlay__btn-emoji {
  margin-left: 0.375rem;
}


/* Not too many browser support this yet but it's good to add! */
@media (prefers-contrast: high) {
  .orb-canvas {
    display: none;
  }
}

@media only screen and (max-width: 1140px) {
  .overlay {
    padding: 8rem 4rem;
  }
}

@media only screen and (max-width: 1000px) {
  .bongocatHere {
    display: none;
  }
}

@media only screen and (max-width: 840px) {
  body {
    padding: 1.5rem;
  }

  .overlay {
    padding: 4rem;
    height: auto;
  }

  .overlay__title {
    font-size: 1.25rem;
    line-height: 2rem;
    margin-bottom: 1.5rem;
  }

  .overlay__description {
    font-size: 1.1rem;
    line-height: 1.5rem;
    margin-bottom: 1rem;
  }

}

@media only screen and (max-width: 600px) {
  .overlay {
    padding: 1.5rem;
  }

  .overlay__btns {
    flex-wrap: wrap;
  }

  .overlay__btn {
    width: 100%;
    font-size: 0.75rem;
    margin-right: 0;
  }

  .overlay__btn:first-child {
    margin-bottom: 1rem;
  }
}