/* --------- Hyperlink and special ---------- */
a#textColorStyle:link {color:#ffffff; cursor: ne-resize;}    /* 未被访问的链接 */
a#textColorStyle:visited {color:#ffffff;cursor: ne-resize;} /* 已被访问的链接 */
a#textColorStyle:hover {color:#c4c4c4;cursor: ne-resize;}   /* 鼠标指针移动到链接上 */
a#textColorStyle:active {color:#c4c4c4;cursor: ne-resize;}  /* 正在被点击的链接 */

a#underlineStyle:link {text-decoration:none;}
a#underlineStyle:visited {text-decoration:none;} 
a#underlineStyle:hover {text-decoration:none;} 
a#underlineStyle:active {text-decoration:none;} 


a#style1{    /* 超链接正常显示黑色 */
	text-decoration: underline;
	color:#ffffff;
  cursor: ne-resize;
  -moz-transition:color 150ms linear;-webkit-transition:color 150ms linear;-o-transition:color 150ms linear;transition:color 150ms linear;
}
a#style1:hover{/* 超链接在鼠标移入时显示橘黄色 */
	color:#c4c4c4;
  cursor: ne-resize;
}


a#style1_btn{    /* 超链接正常显示黑色 */
	text-decoration: underline;
	color:#ffffff;
  cursor: pointer;
  -moz-transition:color 150ms linear;-webkit-transition:color 150ms linear;-o-transition:color 150ms linear;transition:color 150ms linear;
}
a#style1_btn:hover{/* 超链接在鼠标移入时显示橘黄色 */
	color:#c4c4c4;
  cursor: pointer;
}

/* --------- Fade in ---------- */

@keyframes fade-in {  
  0% {opacity: 0;}/*初始状态 透明度为0*/  
  40% {opacity: 0;}/*过渡状态 透明度为0*/  
  100% {opacity: 1;}/*结束状态 透明度为1*/  
}  
@-webkit-keyframes fade-in {/*针对webkit内核*/  
  0% {opacity: 0;}  
  40% {opacity: 0;}  
  100% {opacity: 1;}  
}  


.grid{    
  animation: fade-in;/*动画名称*/  
  animation-duration: 1.5s;/*动画持续时间*/  
  -webkit-animation:fade-in 1.5s;/*针对webkit内核*/  
}  


/* --------- Card Animation ---------- */
.card:not(:empty):hover,
.card:not(:empty):focus {
  z-index: 1;
  color: #fff;
  /*background: #ea124f;*/
  opacity: 1;
  transform: scale(1.15);
  cursor: pointer;/*ne-resize*/
}
.card:not(:empty):hover:after,
.card:not(:empty):focus:after {
  opacity: 1;
}
.card:not(:empty):hover:before,
.card:not(:empty):focus:before {
  opacity: 0;
}

.card {
  padding: 10px;
  background: #a8a8a8;
  border-radius: 0.7em;
  opacity: 0.6;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  transition: all 0.4s cubic-bezier(0.33, 1, 0.68, 1);
  transition-property: background, transform, color, opacity;
}
.card:not(:empty):before {
  box-shadow: -2px 2px 8px 2px rgba(0, 0, 0, 0.2);
}
.card:empty {
  opacity: 0.3;
}
.card:before, .card:after {
  content: "";
  position: absolute;
  border-radius: 0.7em;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.4s cubic-bezier(0.33, 1, 0.68, 1);
}
.card:after {
  box-shadow: -20px 20px 12px 6px rgba(0, 0, 0, 0.2);
  opacity: 0;
}

/* --------- Grid ---------- */
.grid {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: grid;
  overflow: hidden;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 20px;
}

.item1 {
  grid-area: 1/1/3/3;
}

.item2 {
  grid-area: 3/3/4/4;
  background: #d7b5fd;
  /*background-image:url('../dist/03.jpg');
  background-repeat: no-repeat;
  background-size: cover;*/
}
.item2.card:hover, .item2.card:focus {
  /*background: #00005c;*/
  background-image:url('https://pic.imgdb.cn/item/61028f6e5132923bf82d9260.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.item3 {
  grid-area: 4/1/5/4;
}

.item4 {
  grid-area: 1/3/2/5;
}

.item5 {
  grid-area: 2/4/3/5;
}

.item6 {
  grid-area: 3/4/4/5;
}

.item7 {
  grid-area: 3/4/5/5;
  background: #73aeca;
}

.item7.card:hover, .item7.card:focus {
  /*background: #00005c;*/
  background:url('https://pic.imgdb.cn/item/61028f6f5132923bf82d928a.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.item8 {
  grid-area: 1/5/2/6;
}
.item8.card:hover, .item8.card:focus {
  background: #f57b51;
}

.item9 {
  grid-area: 2/5/3/6;
}

.item10 {
  grid-area: 3/5/4/6;
}

.item11 {
  grid-area: 4/5/5/6;
}
.item11.card:hover, .item11.card:focus {
  background: #00a8cc;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*--------- Layout -------- */
*,
*:before,
*:after {
  position: relative;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "PT Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image:url('https://pic.imgdb.cn/item/61028f6e5132923bf82d9276.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 2.75rem 0 1.05rem;
  line-height: 1.2;
  font-family: "Jost", sans-serif;
}

h1 {
  margin-top: 0;
  font-size: 3.052em;
}

h2 {
  font-size: 1em;
}

p {
  line-height: 1.3;
}

/* --------- Responsive ---------- */
@media only screen and (max-width: 600px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, minmax(auto, 300px));
    overflow-y: scroll;
  }

  .item1 {
    grid-area: 1/1/2/3;
  }

  .card {
    grid-area: auto;
    text-align: left;
  }
  .card:empty {
    display: none;
  }
}